<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head th:insert="header.html :: header"></head>
<body>
<div th:replace="header.html :: nav"></div>	
<div class="container">
	<h1 th:text="${titolo}">Titolo generico</h1>
	<div class="card" style="width: 18rem;">
	  <img th:src="${prodotto.image}" class="card-img-top" alt="${prodotto.title}">
	  <div class="card-body">
	    <h5 class="card-title" th:text="${prodotto.title}">Card title</h5>
	    <p class="card-text" th:text="${prodotto.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Buy</a>
	  </div>
	</div>
</div>
</body>
</html>