<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Prodotti</display-name>
    <servlet-name>Prodotti</servlet-name>
    <servlet-class>controller.Prodotti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prodotti</servlet-name>
    <url-pattern>/prodotti</url-pattern>
  </servlet-mapping>
  <display-name>selenium-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Router</servlet-name>
    <servlet-class>controller.Router</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Magazzino</servlet-name>
    <servlet-class>controller.Magazzino</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Router</servlet-name>
    <url-pattern>/home</url-pattern>
    <url-pattern>/index</url-pattern>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/logindemo</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Magazzino</servlet-name>
    <url-pattern>/magazzino</url-pattern>
  </servlet-mapping>
</web-app>